<div [ngSwitch]="tag">
  <template [ngSwitchWhen]="'waiting'">
    <waiting [status]='status'></waiting>
  </template>
  <template [ngSwitchWhen]="'no-connection'">
    <no-connection [status]='status'></no-connection>
  </template>
  <template [ngSwitchWhen]="'auth-err'">
    <auth-err [status]='status'></auth-err>
  </template>
  <template [ngSwitchWhen]="'running'">
    <running></running>
  </template>
  <template [ngSwitchWhen]="'not-running'">
    <not-running></not-running>
  </template>
</div>
